{% extends 'base.html.twig' %}

{% block title %}Memood-Api{% endblock %}

{% block body %}

<div class="main-content">
    <h1>Memood-Api</h1>
    <div class="button-content">
        <p>Découvrir l'api</p>
        <a href="{{path('memood')}}">Api</a>
    </div>
</div>
{% endblock %}
